name: .NET

on:
  push:
  pull_request:
    branches: [ main ]
    paths-ignore:
    - 'README.md'
    
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.x'
        include-prerelease: true
        
    - run: dotnet build "OfficeMate.API.Test.csproj" -c Release -o /app
    
